## Limpieza de BD

#### 1. Importar Librerias

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib as plt

#### 2. Carga de archivos .csv y creación de dataframes

In [3]:
DataVentas=pd.read_csv("SalesFINAL12312016.csv")
DataPurchases=pd.read_csv("PurchasesFINAL12312016.csv")
DataInvoice=pd.read_csv("InvoicePurchases12312016.csv")
DataPurchasesPrices=pd.read_csv("2017PurchasePricesDec.csv")
DataInventInicial=pd.read_csv("BegInvFINAL12312016.csv")
DataInventFinal=pd.read_csv("EndInvFINAL12312016.csv")

#### 3. Verificación de cantidad de registros

In [4]:
DataVentas.shape

(1048575, 14)

In [5]:
DataPurchases.shape

(2372474, 16)

In [6]:
DataInvoice.shape

(5543, 10)

In [7]:
DataPurchasesPrices.shape

(12261, 9)

In [8]:
DataInventInicial.shape

(206529, 9)

In [9]:
DataInventFinal.shape

(224489, 9)

#### 4. Verificación de valores nulos

In [10]:
DataVentas.isnull().sum()

InventoryId       0
Store             0
Brand             0
Description       0
Size              0
SalesQuantity     0
SalesDollars      0
SalesPrice        0
SalesDate         0
Volume            0
Classification    0
ExciseTax         0
VendorNo          0
VendorName        0
dtype: int64

In [11]:
DataPurchases.isnull().sum()

InventoryId       0
Store             0
Brand             0
Description       0
Size              3
VendorNumber      0
VendorName        0
PONumber          0
PODate            0
ReceivingDate     0
InvoiceDate       0
PayDate           0
PurchasePrice     0
Quantity          0
Dollars           0
Classification    0
dtype: int64

In [12]:
DataInvoice.isnull().sum()

VendorNumber       0
VendorName         0
InvoiceDate        0
PONumber           0
PODate             0
PayDate            0
Quantity           0
Dollars            0
Freight            0
Approval        5169
dtype: int64

In [13]:
DataPurchasesPrices.isnull().sum()

Brand             0
Description       1
Price             0
Size              1
Volume            1
Classification    0
PurchasePrice     0
VendorNumber      0
VendorName        0
dtype: int64

In [14]:
DataInventInicial.isnull().sum()

InventoryId    0
Store          0
City           0
Brand          0
Description    0
Size           0
onHand         0
Price          0
startDate      0
dtype: int64

In [15]:
DataInventFinal.isnull().sum()

InventoryId       0
Store             0
City           1284
Brand             0
Description       0
Size              0
onHand            0
Price             0
endDate           0
dtype: int64

#### 5. Información general de las tablas

In [16]:
DataVentas.head(100).sort_values(by='SalesDate')

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,1/1/2016,750,1,0.79,12546,JIM BEAM BRANDS COMPANY
18,1_HARDERSFIELD_10062,1,10062,Terroirs du Rhone,750mL,1,8.99,8.99,1/1/2016,750,2,0.11,10754,PERFECTA WINES
98,1_HARDERSFIELD_1035,1,1035,Pinnacle Vodka Gift Pak,750mL + 3/,1,10.99,10.99,1/10/2016,750,1,0.79,12546,JIM BEAM BRANDS COMPANY
11,1_HARDERSFIELD_10058,1,10058,F Coppola Dmd Ivry Cab Svgn,750mL,1,14.99,14.99,1/10/2016,750,2,0.11,2000,SOUTHERN WINE & SPIRITS NE
73,1_HARDERSFIELD_10264,1,10264,Fort Ross Pnt Nr Sonoma Cst,750mL,1,29.99,29.99,1/10/2016,750,2,0.11,10754,PERFECTA WINES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35,1_HARDERSFIELD_1019,1,1019,Drambuie Glass Pack,750mL,1,26.99,26.99,1/9/2016,750,1,0.79,3664,WILLIAM GRANT & SONS INC
4,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,2,69.98,34.99,1/9/2016,375,1,0.79,12546,JIM BEAM BRANDS COMPANY
77,1_HARDERSFIELD_10266,1,10266,Klinker Brick Old Vine Znfdl,750mL,1,16.99,16.99,1/9/2016,750,2,0.11,9552,M S WALKER INC
97,1_HARDERSFIELD_1035,1,1035,Pinnacle Vodka Gift Pak,750mL + 3/,1,10.99,10.99,1/9/2016,750,1,0.79,12546,JIM BEAM BRANDS COMPANY
51,1_HARDERSFIELD_10238,1,10238,Layer Cake Primitivo Puglia,750mL,2,31.98,15.99,1/9/2016,750,2,0.22,4425,MARTIGNETTI COMPANIES

In [17]:
DataVentas.groupby('Description').sum('SalesDollars')

,Store,Brand,SalesQuantity,SalesDollars,SalesPrice,Volume,Classification,ExciseTax,VendorNo
Description,,,,,,,,,
(RI) 1,1891,79772,40,1470.60,1361.63,27750,37,31.57,464202
10 Span Cab Svgn CC,80,42750,24,179.76,14.98,1500,4,2.70,19630
10 Span Chard CC,123,128244,84,629.16,44.94,4500,12,9.45,58890
10 Span Pnt Nr CC,216,129198,31,232.19,44.94,4500,12,3.47,58890
12 Days of Pearls Gift Set,1169,21147,26,259.74,209.79,1050,21,1.31,175392
...,...,...,...,...,...,...,...,...,...
Zorvino Vyds Peachez,2332,1482434,69,689.31,589.41,44250,118,7.60,5313422
Zorvino Vyds Pearz,3730,2051324,110,1098.90,919.08,69000,184,12.12,8285336
Zorvino Vyds Sangiovese,1079,602046,33,412.17,337.23,20250,54,3.65,2431566
Zum Rsl,3031,967600,98,981.02,591.41,44250,118,10.88,422027
von Buhl Jazz Rsl,326,121365,9,143.91,79.95,3750,10,1.00,53770

In [18]:
DataVentas[DataVentas['Description'].str.contains('Grey Goose Glass Pack')]

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
911,1_HARDERSFIELD_1330,1,1330,Grey Goose Glass Pack,1.75L,1,57.99,57.99,1/21/2016,1750,1,1.84,480,BACARDI USA INC
912,1_HARDERSFIELD_1330,1,1330,Grey Goose Glass Pack,1.75L,1,57.99,57.99,1/29/2016,1750,1,1.84,480,BACARDI USA INC
18568,10_HORNSEY_1330,10,1330,Grey Goose Glass Pack,1.75L,1,57.99,57.99,1/29/2016,1750,1,1.84,480,BACARDI USA INC
49073,12_LEESIDE_1330,12,1330,Grey Goose Glass Pack,1.75L,1,57.99,57.99,1/22/2016,1750,1,1.84,480,BACARDI USA INC
55131,13_TARMSWORTH_1330,13,1330,Grey Goose Glass Pack,1.75L,6,293.94,48.99,1/3/2016,1750,1,11.02,480,BACARDI USA INC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1034723,17_OLDHAM_1330,17,1330,Grey Goose Glass Pack,1.75L,1,57.99,57.99,2/4/2016,1750,1,1.84,480,BACARDI USA INC
1034724,17_OLDHAM_1330,17,1330,Grey Goose Glass Pack,1.75L,1,57.99,57.99,2/10/2016,1750,1,1.84,480,BACARDI USA INC
1034725,17_OLDHAM_1330,17,1330,Grey Goose Glass Pack,1.75L,1,57.99,57.99,2/22/2016,1750,1,1.84,480,BACARDI USA INC
1034726,17_OLDHAM_1330,17,1330,Grey Goose Glass Pack,1.75L,1,57.99,57.99,2/27/2016,1750,1,1.84,480,BACARDI USA INC
1034727,17_OLDHAM_1330,17,1330,Grey Goose Glass Pack,1.75L,1,57.99,57.99,2/28/2016,1750,1,1.84,480,BACARDI USA INC

In [19]:
#verificación de valores unicos para la columna InventoryID
DataVentas['InventoryId'].nunique() #La columna inventarioId no tiene valores unicos

170131

In [20]:
DataPurchases.head(100).sort_values(by='PONumber')

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
49,38_GOULCREST_1330,38,1330,Grey Goose Glass Pack,1.75L,480,BACARDI USA INC,8106,2015-12-20,2016-01-02,2016-01-12,2016-02-05,38.27,1,38.27,1
72,76_DONCASTER_3782,76,3782,Grey Goose Le Citron Vodka,750mL,480,BACARDI USA INC,8106,2015-12-20,2016-01-02,2016-01-12,2016-02-05,18.89,6,113.34,1
71,52_GRAYCOTT_4066,52,4066,Bacardi Oakheart Spiced Rum,1.75L,480,BACARDI USA INC,8106,2015-12-20,2016-01-02,2016-01-12,2016-02-05,12.85,24,308.40,1
70,54_GUTHRAM_8653,54,8653,M & R Extra Dry Vermouth,375mL,480,BACARDI USA INC,8106,2015-12-20,2016-01-02,2016-01-12,2016-02-05,3.53,24,84.72,2
69,1_HARDERSFIELD_3858,1,3858,Grey Goose Vodka,750mL,480,BACARDI USA INC,8106,2015-12-20,2016-01-01,2016-01-12,2016-02-05,17.77,95,1688.15,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124,2015-12-21,2016-01-02,2016-01-04,2016-02-16,35.71,6,214.26,1
3,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-01,2016-01-07,2016-02-21,9.35,6,56.10,1
2,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-02,2016-01-07,2016-02-21,9.41,5,47.05,1
1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-01,2016-01-07,2016-02-21,9.35,4,37.40,1
4,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,2015-12-24,2016-01-02,2016-01-09,2016-02-16,21.32,5,106.60,1

In [21]:
#DataPurchasesPrices.head()
DataPurchasesPrices[DataPurchasesPrices['Description'].str.contains('Grey Goose Glass Pack', na=False)]

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
8862,1330,Grey Goose Glass Pack,49.99,1750mL,1750,1,38.27,480,BACARDI USA INC

In [22]:
DataInvoice.head(100).sort_values(by='PONumber') #La columna PONumber tiene valores únicos

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
3,480,BACARDI USA INC,2016-01-12,8106,2015-12-20,2016-02-05,10100,137483.78,2935.20,NaN
10,90046,CANDIA VINEYARDS,2016-01-05,8107,2015-12-20,2016-02-10,24,348.72,9.08,NaN
14,1392,CONSTELLATION BRANDS INC,2016-01-11,8108,2015-12-20,2016-02-10,8466,60281.13,1549.81,NaN
17,1590,DIAGEO CHATEAU ESTATE WINES,2016-01-12,8109,2015-12-20,2016-02-11,2246,14298.09,408.72,NaN
22,3252,E & J GALLO WINERY,2016-01-09,8110,2015-12-20,2016-02-19,8086,56493.23,1300.92,NaN
...,...,...,...,...,...,...,...,...,...,...
89,105,ALTAMAR BRANDS LLC,2016-01-17,8234,2015-12-29,2016-02-22,12,428.52,2.19,NaN
92,388,ATLANTIC IMPORTING COMPANY,2016-01-11,8249,2015-12-30,2016-02-18,95,2025.40,10.73,NaN
96,1003,BRONCO WINE COMPANY,2016-01-15,8250,2015-12-30,2016-02-22,24,104.10,0.57,NaN
91,287,APPOLO VINEYARDS LLC,2016-01-13,8287,2016-01-01,2016-02-18,12,124.80,0.66,NaN
93,480,BACARDI USA INC,2016-01-19,8288,2016-01-01,2016-02-18,32463,396606.13,1864.05,Frank Delahunt

In [23]:
DataInventInicial.head()

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,2016-01-01
1,1_HARDERSFIELD_60,1,HARDERSFIELD,60,Canadian Club 1858 VAP,750mL,7,10.99,2016-01-01
2,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,6,36.99,2016-01-01
3,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,3,38.99,2016-01-01
4,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,6,34.99,2016-01-01

In [24]:
DataInventFinal.head()

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,2016-12-31
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,2016-12-31
2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,7,38.99,2016-12-31
3,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,4,34.99,2016-12-31
4,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,7,14.99,2016-12-31

#### Tratamiento de Valores Nulos

In [25]:
DataPurchases[DataPurchases['Description'].str.contains('Pinnacle Rainbow Sherbet')] #llenar valor nulo con dato 750mL

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
134447,76_DONCASTER_3121,76,3121,Pinnacle Rainbow Sherbet,750mL,12546,JIM BEAM BRANDS COMPANY,8503,2016-01-17,2016-01-29,2016-02-02,2016-03-08,6.93,1,6.93,1
135201,2_ASHBORNE_3121,2,3121,Pinnacle Rainbow Sherbet,750mL,12546,JIM BEAM BRANDS COMPANY,8503,2016-01-17,2016-01-29,2016-02-02,2016-03-08,6.93,1,6.93,1
135202,20_BREDWARDINE_3121,20,3121,Pinnacle Rainbow Sherbet,750mL,12546,JIM BEAM BRANDS COMPANY,8503,2016-01-17,2016-01-29,2016-02-02,2016-03-08,6.93,1,6.93,1
214955,61_AETHELNEY_3121,61,3121,Pinnacle Rainbow Sherbet,750mL,12546,JIM BEAM BRANDS COMPANY,8800,2016-02-05,2016-02-12,2016-02-19,2016-04-01,6.93,1,6.93,1
215283,34_PITMERDEN_3121,34,3121,Pinnacle Rainbow Sherbet,750mL,12546,JIM BEAM BRANDS COMPANY,8800,2016-02-05,2016-02-12,2016-02-19,2016-04-01,6.93,7,48.51,1
291013,34_PITMERDEN_3121,34,3121,Pinnacle Rainbow Sherbet,750mL,12546,JIM BEAM BRANDS COMPANY,8928,2016-02-15,2016-02-23,2016-03-07,2016-04-03,6.93,4,27.72,1
406165,10_HORNSEY_3121,10,3121,Pinnacle Rainbow Sherbet,750mL,12546,JIM BEAM BRANDS COMPANY,9305,2016-03-11,2016-03-16,2016-03-23,2016-04-25,6.93,1,6.93,1
478946,67_EANVERNESS_3121,67,3121,Pinnacle Rainbow Sherbet,750mL,12546,JIM BEAM BRANDS COMPANY,9420,2016-03-20,2016-03-30,2016-04-05,2016-05-19,6.93,2,13.86,1
1109305,34_PITMERDEN_3121,34,3121,Pinnacle Rainbow Sherbet,750mL,12546,JIM BEAM BRANDS COMPANY,10938,2016-06-27,2016-07-09,2016-07-13,2016-08-16,6.93,1,6.93,1
1109668,34_PITMERDEN_3121,34,3121,Pinnacle Rainbow Sherbet,NaN,12546,JIM BEAM BRANDS COMPANY,10938,2016-06-27,2016-07-04,2016-07-13,2016-08-16,6.93,7,48.51,1

In [26]:
# Filtrar las filas donde 'Description' es igual a 'Pinnacle Rainbow Sherbet' y 'Size' es NaN, y establecer 'Size' como '750mL'
DataPurchases.loc[(DataPurchases['Description'] == 'Pinnacle Rainbow Sherbet') & (DataPurchases['Size'].isna()), 'Size'] = '750mL' #se llenan los NaN

In [27]:
DataPurchases[DataPurchases['Description'].str.contains('Skinnygirl Pina Colada')] #llenar valor nulo con dato 750mL

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
26472,38_GOULCREST_5678,38,5678,Skinnygirl Pina Colada,750mL,12546,JIM BEAM BRANDS COMPANY,8241,2015-12-29,2016-01-06,2016-01-16,2016-02-15,6.93,29,200.97,1
176514,49_GARIGILL_5678,49,5678,Skinnygirl Pina Colada,750mL,12546,JIM BEAM BRANDS COMPANY,8659,2016-01-27,2016-02-04,2016-02-14,2016-03-19,6.93,1,6.93,1
214731,76_DONCASTER_5678,76,5678,Skinnygirl Pina Colada,750mL,12546,JIM BEAM BRANDS COMPANY,8800,2016-02-05,2016-02-12,2016-02-19,2016-04-01,6.93,17,117.81,1
366401,66_EANVERNESS_5678,66,5678,Skinnygirl Pina Colada,750mL,12546,JIM BEAM BRANDS COMPANY,9118,2016-02-28,2016-03-11,2016-03-19,2016-04-21,6.93,2,13.86,1
366882,34_PITMERDEN_5678,34,5678,Skinnygirl Pina Colada,750mL,12546,JIM BEAM BRANDS COMPANY,9118,2016-02-28,2016-03-10,2016-03-19,2016-04-21,6.93,45,311.85,1
367931,67_EANVERNESS_5678,67,5678,Skinnygirl Pina Colada,750mL,12546,JIM BEAM BRANDS COMPANY,9118,2016-02-28,2016-03-08,2016-03-19,2016-04-21,6.93,17,117.81,1
631595,66_EANVERNESS_5678,66,5678,Skinnygirl Pina Colada,750mL,12546,JIM BEAM BRANDS COMPANY,9907,2016-04-22,2016-04-27,2016-05-04,2016-06-17,6.93,10,69.30,1
760082,34_PITMERDEN_5678,34,5678,Skinnygirl Pina Colada,750mL,12546,JIM BEAM BRANDS COMPANY,10132,2016-05-09,2016-05-19,2016-05-23,2016-07-09,6.93,2,13.86,1
761874,69_MOUNTMEND_5678,69,5678,Skinnygirl Pina Colada,750mL,12546,JIM BEAM BRANDS COMPANY,10132,2016-05-09,2016-05-20,2016-05-23,2016-07-09,6.93,1,6.93,1
1112426,34_PITMERDEN_5678,34,5678,Skinnygirl Pina Colada,NaN,12546,JIM BEAM BRANDS COMPANY,10938,2016-06-27,2016-07-09,2016-07-13,2016-08-16,6.93,6,41.58,1

In [28]:
DataPurchases.loc[(DataPurchases['Description'] == 'Skinnygirl Pina Colada') & (DataPurchases['Size'].isna()), 'Size'] = '750mL' #se llenan los NaN

In [29]:
DataPurchases[DataPurchases['Description'].str.contains('Alabaster 07 Tinta de Toro')]

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
1116302,39_EASTHALLOW_15365,39,15365,Alabaster 07 Tinta de Toro,NaN,9552,M S WALKER INC,10972,2016-06-29,2016-07-07,2016-07-13,2016-08-21,91.83,1,91.83,2

In [30]:
DataInvoice.drop(columns=['Approval'], inplace=True) #eliminamos columna Approval porque mas del 90% de registros son nulos

In [31]:
DataInventFinal[DataInventFinal['Store'].astype(str).str.contains('46')]

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
113895,46__58,46,NaN,58,Gekkeikan Black & Gold Sake,750mL,0,12.99,2016-12-31
113896,46__62,46,NaN,62,Herradura Silver Tequila,750mL,0,36.99,2016-12-31
113897,46__63,46,NaN,63,Herradura Reposado Tequila,750mL,0,38.99,2016-12-31
113898,46__77,46,NaN,77,Three Olives Espresso Vodka,750mL,0,14.99,2016-12-31
113899,46__106,46,NaN,106,Mr Boston Peach Schnapps,Liter,0,4.49,2016-12-31
...,...,...,...,...,...,...,...,...,...
115174,46__46447,46,NaN,46447,Gascon Malbec Mendoza,750mL,0,10.99,2016-12-31
115175,46__46458,46,NaN,46458,Layer Cake Barosa Shiraz,750mL,0,15.99,2016-12-31
115176,46__46476,46,NaN,46476,Tilia Malbec Mendoza,750mL,0,9.99,2016-12-31
115177,46__46764,46,NaN,46764,Clayhouse Adobe Red Paso Rbl,750mL,0,11.99,2016-12-31
115178,46__46830,46,NaN,46830,Pacific Rim Sweet Rsl,750mL,0,8.99,2016-12-31

In [32]:
DataInventInicial[DataInventInicial['Store'].astype(str).str.contains('46')] #En la tabla InventarioInicial verificamos que la tienda 46 corresponde a "TYWARDREATH"

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate
108343,46_TYWARDREATH_58,46,TYWARDREATH,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,2016-01-01
108344,46_TYWARDREATH_62,46,TYWARDREATH,62,Herradura Silver Tequila,750mL,2,36.99,2016-01-01
108345,46_TYWARDREATH_63,46,TYWARDREATH,63,Herradura Reposado Tequila,750mL,4,38.99,2016-01-01
108346,46_TYWARDREATH_77,46,TYWARDREATH,77,Three Olives Espresso Vodka,750mL,4,14.99,2016-01-01
108347,46_TYWARDREATH_79,46,TYWARDREATH,79,Three Olives Loopy Vodka,750mL,12,14.99,2016-01-01
...,...,...,...,...,...,...,...,...,...
110218,46_TYWARDREATH_46763,46,TYWARDREATH,46763,Clayhouse Svgn Bl Paso Roble,750mL,5,11.99,2016-01-01
110219,46_TYWARDREATH_46764,46,TYWARDREATH,46764,Clayhouse Adobe Red Paso Rbl,750mL,8,11.99,2016-01-01
110220,46_TYWARDREATH_46826,46,TYWARDREATH,46826,LaBelle Winery Grnt St Apple,375mL,5,14.99,2016-01-01
110221,46_TYWARDREATH_46829,46,TYWARDREATH,46829,Pacific Rim Yakima Gewurz,750mL,7,11.99,2016-01-01
110222,46_TYWARDREATH_46830,46,TYWARDREATH,46830,Pacific Rim Sweet Rsl,750mL,13,9.99,2016-01-01

In [33]:
# Filtrar las filas donde 'Store' es igual a 46 y 'City' es NaN, y establecer 'City' como 'TYWARDREATH'
DataInventFinal.loc[(DataInventFinal['Store'] == 46) & (DataInventFinal['City'].isna()), 'City'] = 'TYWARDREATH' #se llenan los NaN

In [34]:
DataInventFinal[DataInventFinal['Store'].astype(str).str.contains('46')] #se verifica que la tabla ya no tenga valores nulos

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
113895,46__58,46,TYWARDREATH,58,Gekkeikan Black & Gold Sake,750mL,0,12.99,2016-12-31
113896,46__62,46,TYWARDREATH,62,Herradura Silver Tequila,750mL,0,36.99,2016-12-31
113897,46__63,46,TYWARDREATH,63,Herradura Reposado Tequila,750mL,0,38.99,2016-12-31
113898,46__77,46,TYWARDREATH,77,Three Olives Espresso Vodka,750mL,0,14.99,2016-12-31
113899,46__106,46,TYWARDREATH,106,Mr Boston Peach Schnapps,Liter,0,4.49,2016-12-31
...,...,...,...,...,...,...,...,...,...
115174,46__46447,46,TYWARDREATH,46447,Gascon Malbec Mendoza,750mL,0,10.99,2016-12-31
115175,46__46458,46,TYWARDREATH,46458,Layer Cake Barosa Shiraz,750mL,0,15.99,2016-12-31
115176,46__46476,46,TYWARDREATH,46476,Tilia Malbec Mendoza,750mL,0,9.99,2016-12-31
115177,46__46764,46,TYWARDREATH,46764,Clayhouse Adobe Red Paso Rbl,750mL,0,11.99,2016-12-31
115178,46__46830,46,TYWARDREATH,46830,Pacific Rim Sweet Rsl,750mL,0,8.99,2016-12-31

In [35]:
DataInvoice.to_csv("InvoicePurchases12312016_Clean.csv", index=False)
DataPurchasesPrices.to_csv("2017PurchasePricesDec_Clean.csv", index=False)
DataPurchases.to_csv("PurchasesFINAL12312016_Clean.csv", index=False)
DataInventFinal.to_csv("EndInvFINAL12312016_Clean.csv", index=False)
DataVentas.to_csv("SalesFINAL12312016_Clean.csv", index=False)
DataInventInicial.to_csv("BegInvFINAL12312016_Clean.csv", index=False)